.contanier
  .hom_contant
    %h1 Fitness Geïnspireerde Training
    %p
      wil op te voeden, te stimuleren en mensen van alle fitness
      niveaus uit te dagen FIT voor het leven geworden door het
      implementeren van gezonde en duurzame gewoonten.
    .home_join_us_btn
      %a{href: "#{biografie_index_path}"} JOIN US
    .home_learn_more_btn
      %a{href: "#{werkwijze_index_path}"} MEHR