.all_contant
  .all_contant_left
    .all_contant_left_in
      %h2 Werkwijze

      %h3.all_contant_h3 Vrijblivende Intake
      %p
        Als je geïnteresseerd bent in personal training door mij, graag meer wilt weten, of eerste
        eens wilt kennismaken, kun je via
        = link_to "mijn site", contact_index_path
        contact opnemen. Dit kan ook via
        = link_to "Health Club Jordaan.", Rails.configuration.hcj_link
        We plannen dan een vrijblijvend intake gesprek in.
        Tijdens deze intake vertel je mij jouw verhaal en bespreken we je wensen. Aan de hand
        hiervan formuleren we je doelen.
        Deze intake bestaat ook al uit een eerste training, om te kijken of we samen prettig kunnen

      %h3.all_contant_h3 Anamnese & tests
      %p
        Hierna plannen we een verdiepende vervolgafspraak in. Deze afspraak staat in het teken
        van de anamnese (vragenlijst naar het medisch verleden) en een aantal testen: vetmeting,
        conditie en een flexibilty en lichamelijke test.

      %h3.all_contant_h3 Custom made
      %p
        Met deze resultaten ga ik aan de slag. Ik werk een custom made programma voor je uit. Jij
        bepaalt uiteraard zelf het aantal trainingen per periode met mij.
        Time to start! We gaan aan de slag met je doelen en gaan er samen tegenaan.

      %h3.all_contant_h3 Meten = weten
      %p
        Na een aantal trainingen is het tijd voor een nieuwe meting. Ik kijk naar je progressie en ik
        stuur eventueel bij door de trainingen waar nodig aan te passen. Zo blijf je gemotiveerd en
        geprikkeld, zodat we het beste resultaat behalen.

    .clr
  = render "shared/contact_form"  
  .clr
.clr