.all_contant
  %span.all_contant_h2 Welcome to
  %span.all_contant_h3 RESULTAATQERICHT SPORTEN
  %p Mauris vel lacus vitae felis vestibulum volutpat. Etiam est nunc, venenatis in, tristique eu, imperdiet ac, nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In iaculis facilisis massa. Etiam eu urna. Sed porta. Suspendisse quam leo, molestie sed, luctus quis, feugiat in, pede. Fusce tellus. Sed metus augue, convallis et, vehicula ut Suspendisse quam leo, molestie sed, luctus quis, feugiat in, pede.
  .all_contant_left
    .all_contant_left_in
      %h2 Laatste Sessies
      %img{alt: "bography_img_contant", height: "129", src: "/assets/bography_img_contant_1.jpg", width: "151"}
      .img_ul_li
        %h3 Zielgruppen
        %ul
          %li
            %span Sed sed leo erat. Suspendisse sagittis metus aliquet non lacinia lorem.
          %li
            %span Lipsum Aenean risus ipsum, convallis nec consectetur eu, bibendum.
      .clr
      %img{alt: "bography_img_contant", height: "129", src: "/assets/bography_img_contant_2.jpg", width: "151"}
      .img_ul_li
        %h3 Zielgruppen
        %ul
          %li
            %span Sed sed leo erat. Suspendisse sagittis metus aliquet non lacinia lorem.
          %li
            %span Lipsum Aenean risus ipsum, convallis nec consectetur eu, bibendum.
      .clr
    .clr
  = render "shared/contact_form"
  .clr
.read_more
  %a{href: "#."} Lees  Meer
.clr