.all_contant
  %h2
    %span.all_contant_h2 Biografie

  %span.all_contant_h3 ROEL SPITS
  %p
    Hai! Ik ben Roel. Welkom op mijn website! Graag vertel ik je meer over mijn liefde voor het vak en over mijn
    ervaring als personal trainer.

  %span.all_contant_h3 Personal Trainer
  %p
    Na vele jaren in diverse sportscholen te hebben gewerkt en brede ervaring in het vak te  hebben opgedaan,
    startte ik in 2004 als freelance Personal Trainer. Sindsdien heb ik vele mensen begeleid en geholpen hun doelen
    te behalen. De eerste zes jaar was Club Sportive mijn thuisbasis, maar sinds 2,5 jaar begeleid ik mijn klanten
    met veel plezier bij Health Club Jordaan in Amsterdam.

  %span.all_contant_h3 Passie
  %p
    Mijn passie voor sporten begin al vroeg. Bergklimmen, tennis, schaatsen, atletiek, turnen ...
    noem een sport en ik heb het gedaan in mijn jonge jaren. Toen ik in 1995 voor het eerst met
    fitness in aanraking kwam was ik gelijk verslaafd. Hier wilde ik in verder! Ook tijdens mijn
    diensttijd ben ik veel fysiek bezig geweest. Erna besloot ik dan ook direct bij een sportschool
    aan de slag te gaan.

  %span.all_contant_h3 Opleidingen
  %p
    In 2004 ben ik afgestudeerd aan de NASM (National Acadamy of Sports Medicine) en
    sindsdien ben ik Certified Personal Trainer. Al was dit niet het eerste diploma dat ik
    behaalde: ik ben gestart met de Fitvak opleiding tot fitness instructeur en heb een aantal
    certificaten voor lessen als BodyPump en Spinning. Ik blijf mij graag ontwikkelen en
    bijscholen. Zo behaalde ik de laatste jaren internationale certificaten van gerenommeerde
    opleidingen van o.a. Paul Chek en Bob Cooley. Op dit moment ben ik bezig met de opleiding
    van Charles Poliquin, een combinatie van fitness en voeding.

  .all_contant_left
    .all_contant_left_in
      %h2 Laatste Sessies
      %img{alt: "bography_img_contant", height: "129", src: asset_path("bography_img_contant_1.jpg"), width: "151"}
      .img_ul_li
        %h3 Zielgruppen
        %ul
          %li
            %span Sed sed leo erat. Suspendisse sagittis metus aliquet non lacinia lorem.
          %li
            %span Lipsum Aenean risus ipsum, convallis nec consectetur eu, bibendum.
      .clr
      %img{alt: "bography_img_contant", height: "129", src: asset_path("bography_img_contant_2.jpg"), width: "151"}
      .img_ul_li
        %h3 Zielgruppen
        %ul
          %li
            %span Sed sed leo erat. Suspendisse sagittis metus aliquet non lacinia lorem.
          %li
            %span Lipsum Aenean risus ipsum, convallis nec consectetur eu, bibendum.
      .clr
    .clr
  = render "shared/contact_form"
  .clr
.read_more
  %a{href: "#."} Lees  Meer
.clr