.all_contant
  .all_contant_left
    .all_contant_left_in
      %h2 Kosten Personal Training
      %h3.all_contant_h3 €70,- per uur
      %h3.all_contant_h3 €650,- voor een 10-rittenkaart*

      %p
        *De 10-rittenkaart is inclusief de vervolgafspraak (anamnese en tests) op de intake. Je
        ontvangt dus €50,- korting én een gratis uur á €70,-
        Het
        = link_to "intake gesprek", contact_index_path
        is uiteraard kosteloos.

      %p
        %i
          Prijzen zijn inclusief BTW en exclusief het abonnement op de
          = link_to "sportschool.", Rails.configuration.hcj_link

    .clr
  = render "shared/contact_form"
  .clr
.clr